.loginRegister{ 
    display: flex; 
    height: 100px;
    background-color: #395B64;
}

.registerBg{
    display: flex;
    background-color: #33658A;
}

.gameInfoBg{
    display: flex;
}

.mainBg{
    display: flex;
}

.logo{
    margin-left: 8%;
    margin-top: 18px;
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputSearch{
    width: 40%;
    height: 38px;
}

#buttons{
    display: flex;
    align-items: right;
    justify-content: right; 
    margin-right: 3%;
    width: 30%;
}

#lgn{
    width: 70%;
    height: 40px;
    margin-top: 30px;
    margin-right: 5%;
}

a:hover{
    background-color: #F26419;
    text-decoration-line: none;
}

a{
    color: white;
    text-decoration-line: none;
}

