<div class=".body">
    <div class="loginRegister">
        <div class="container">

            <div class="row align-items-center">

                <div class="col-sm-2">
                    <a href="/mainPage" style="height: 100%; width: 100%;">
                        <img class="logo" src="/images/logo.jpg" width="200wv" height="75hv">
                    </a>
                </div>

                <div class="col-sm-6">
                    <div id="search" class="input-group" style="width: 100%;">
                        <input class="inputSearch" placeholder="Buscar" />
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="col-sm-2 " id="buttons">
                    <button id="lgn" type="button" class="btn-primary">Ingresar</button>
                    <button id="lgn" type="button" class="btn-primary">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
</div>