<div class=".body">
    <div class="loginRegister">
        <div class="container">

            <div class="row align-items-center">

                <div class="col-sm-2">
                    <a href="/mainPage" style="height: 100%; width: 100%;">
                        <img class="logo" src="/images/logo.jpg" width="200wv" height="75hv">
                    </a>
                </div>

                <div class="col-sm-6">
                    <form action="/search" method="GET">
                        <div id="search" class="input-group" style="width: 100%;">
                            <input name="gameName" class="inputSearch" placeholder="Buscar" />
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="col-sm-2 " id="buttons">
                    {{#if user}}
                    <a href="/wishList" id="lgn" type="button" class="btn-primary text-center">Lista de deseos</a>
                    <a href="/mainPage" id="lgn" type="button" class="btn-primary text-center">Cerrar Sesion</a>
                    {{else}}
                    <a href="/login" id="lgn" type="button" class="btn-primary text-center">Ingresar</a>
                    <a href="/register" id="lgn" type="button" class="btn-primary text-center">Registrarse</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>