<h1> acá se hace webscraping de un juego </h1>
<div>
    {{!-- <img  src="/images/logo.jpg" alt="GameBanner" width="480" height="480"/> --}}
</div>
<div >
    <h2>Precios</h2>
     <img  src="/images/steamLogo.png" alt="steamLogo" width="48" height="48"/>
     <img  src="/images/enebaLogo.webp" alt="enebaLogo" width="48" height="48" />
     <img  src="/images/kinguingLogo.png" alt="kinguingLogo" width="48" height="48"/>
     <img  src="/images/epicLogo.png" alt="epicLogo" width="54" height="48"/>
</div>