<h1> acá va el nombre de un juego </h1>
<p>acá va la descripcion de un juego</p>
<div class="container-xs" style="align-items: center;">

    <div class="row justify-content-center">

        <div class="col-2">
            <div class="card" style="width: 12rem; background-color: #2F4858;">
                <a href="https://store.steampowered.com/">
                    <img src="/images/steamLogo.png" class="card-img-top" alt="steamLogo">
                    <div class="card-body">
                        <p class="card-text">precio en steam: </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem; background-color: #2F4858;">
                <a href="https://www.eneba.com/">
                    <img src="/images/enebaLogo.webp" class="card-img-top" alt="enebaLogo">
                    <div class="card-body">
                        <p class="card-text">precio en eneba: </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem; background-color: #2F4858;">
                <a href="https://www.epicgames.com/">
                    <img src="/images/epicLogo.png" class="card-img-top" alt="epicLogo">
                    <div class="card-body">
                        <p class="card-text">precio en Epicgames: </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>