<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<<<<<<< HEAD
    {{# each gameInfo}}
    <div class="card" style="width: 18rem;" >
=======
    {{#each gameInfo}}
    <div>
>>>>>>> 56092ebfc40f71039ca921fbc2711a28e9cab7f1
    <div id="{{ID_VIDEOJUEGO}}">{{NOMBRE_VIDEOJUEGO}}</div>
    <a href="/gameInfo/{{ID_VIDEOJUEGO}}" style="background-color: gray;">
    <img src="{{URL_IMAGEN}}" class="card-img-top" alt="steamLogo">
    </div>
    {{/each }}
</head>
<body>
    <h1>holi</h1>
    
</body>
</html>