<div class="registerBg">

    <div class="container p-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card" style="border-color:  #395B64;">
                    <div class="card-body">
                        <h1 class="mx-auto" style="color: #2F4858;">Formulario de registro</h1>
                        <form action="/register" method="POST">
                            <div class="form-group">
                                <label class="label-xl">Nombre</label>
                                <input type="text" class="form-control" name="NOMBRE" placeholder="Ingresa tu Nombre"
                                    required autofocus>
                                <br>
                                <label class="label-xl">Correo</label>
                                <input type="email" class="form-control" name="CORREO" placeholder="Ingresa tu Correo"
                                    required>
                                <br>
                                <label class="label-xl">Pais</label>
                                <input type="text" class="form-control" name="PAIS" placeholder="Ingresa tu Pais">
                                <br>
                                <label class="label-xl">Contraseña </label>
                                <input type="password" class="form-control" name="CONTRASENA"
                                    pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*" placeholder="Ingresa tu Constraseña (unicamente con alfanumericos)"
                                    required>
                                <br>
                                <label class="label-xl">Confirmacion</label>
                                <input type="password" class="form-control" name="password-confirmation"
                                    placeholder="Reingresa tu constraseña" required>
                                <br>
                                <label for="birthDate">Fecha de nacimiento</label>
                                <input id="birthDate" class="form-control" type="date" name="FECHA_NACIMIENTO" />
                                <span id="birthDateSelected"></span>
                                <br>
                                <button class="btn btn-success btn-block"
                                    style="background-color: #F26419; width: 100%;">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>